Data:

- Qualitative -
    - things, and their attributes

- Quantitative
    - sizes of quantities

- Tables, somethings like columns,
    - row

In [2]:
Students= ["stu1","stu2","stu3","stu4","stu5"]

Marks= [50,47,51,49,47]

In [4]:
mean_marks= sum(Marks)/ len(Marks)

print("Mean Marks:",mean_marks)

Mean Marks: 48.8

In [7]:
Marks2= [5,20,80,130,50]

sorted_marks2 = sorted (Marks2)

n= len(sorted_marks2)

if n % 2 == 1:
    median= sorted_marks2[n//2]
else:
    median= sorted_marks2[n// 2-1] + sorted_marks[n//2]/2

print("Median:",median)

Median: 50

In [50]:
nums = [20,80,90,89,130,50]
nums.sort()

print('sorted listed nums:',nums)
#if the nums is odd, length/2
#3/2= 1.5
#7/2= 3.5
# 0 1 2 3 4
# [5,20,50,80,130]

mean= sum(nums)/len(nums)
print('mean of the nums is:',mean)

if len(nums)%2==0:
    #if length is even
    median= (nums[len(nums)//2] + nums[(len(nums)//2)+1])/2
    print('median is:',median)
else:
    #if the length is odd
    median = nums [len(nums)//2]
    print('median is:',median)


#nums[2]

sorted listed nums: [20, 50, 80, 89, 90, 130]
mean of the nums is: 76.5
median is: 89.5

In [51]:
len(nums)/2

3.0

In [52]:
#actual median
(nums[2]+nums[3])/2

84.5

In [ ]:
nums[(len(nums)//2)+1]
(len(nums)/2)

### Explore how to sort a list manually

create a program, that takes a list, and returns a sorted list
- only allowes to google, when you have struggle for at leats 1 hour
- use google, create a different program, based on the same - understand what is happening
- you are not allowed to use list methods or libraries
- you can use numpy but not the methods like sort

In [26]:
import pandas as pd

In [31]:
iris= pd.read_csv('iris.csv')
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [33]:
#aggregate

df=iris[['sepal_length','sepal_width','petal_length','petal_width']]

print('the mean is :',df.mean())
print('the median is:', df.median())
print('the mode is:', df.mode())

the mean is : sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
the median is: sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
the mode is:    sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.0           1.5          0.2

In [60]:
SL = iris[['sepal_length']]
SL.mode()

   sepal_length
0           5.0

In [44]:
x ={
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}

xdf = pd.DataFrame(x)
xdf

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5
5  6  5
6  7  6

In [46]:
xdf['b'].std()  #variance
xdf['b'].var()
xdf['b'].count()

np.int64(7)

* Spread of Data
* Variance
* Standard Deviation

In [40]:
df.describe()  #Statistics related to a dataframe

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [58]:
# variance
import numpy as np

class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

mean = sum(class1)/len(class1)
print("mean is:",mean)

variance = sum((class1-mean)**2)/len(class1)
print('The variance is:',variance)

mean is: 48.8
The variance is: 2.5599999999999996

In [59]:
d = np.array([50,47,51,49,47]) - mean
e = d **2

sum(e)/5

np.float64(2.5599999999999996)

In [56]:
mean = sum(class2)/len(class2)
print("mean is:",mean)

sumofdifferences = np.array([((class2-mean)**2)])
variance = (sumofdifferences.sum())/len(class2)
print('The variance is:',variance)

mean is: 57.0
The variance is: 1996.0

In [ ]:
std1 = variance1**0.5
std2 =