In [1]:
#let's try to bring in the csv file here

import pandas as pd

df=pd.read_csv("cities_temps.csv")
df

   Unnamed: 0 cities  temp10
0           0     KL      23
1           1     KL      29
2           2     KL      40
3           3     NY       0
4           4    HLS       5

In [2]:
df2 = pd.read_csv("City Rating without Row Numbers.csv")
df2

,cities,Temp10,temp11,empty_temp,linaRating,lindaRating,melRating,LindaRating
0,KL,23,32,NaN,5,NaN,-1,5
1,HK,29,31,NaN,3,NaN,5,4
2,SG,40,50,NaN,3,NaN,4,1
3,NY,0,34,NaN,3,NaN,2,5
4,HLS,5,-2,NaN,3,NaN,3,2