In [72]:
#import dataset
#run the methods we learn value count,unique, on species column
#create a new df (iris_without_species) object, WITHOUT THE SPECIES COLUMN
#DF.INFO()

In [73]:
import pandas as pd

df=pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [74]:
df["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [75]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [76]:
df["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [77]:
iris_without_species = df.drop("species",axis=1)
iris_without_species.head()

print(iris_without_species)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [78]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [79]:
species =df['species']
species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [80]:
species1 = df['species']

species1.head()

type(species1)

pandas.core.series.Series

In [81]:
#instead

species2 = df.drop(['sepal_length','sepal_width','petal_length','petal_width'],axis=1)
species2.head()

type(species2)

pandas.core.frame.DataFrame

In [82]:
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [83]:
# calculated column

sepalx = iris_without_species['sepal_length'] * iris_without_species['sepal_width']

sepalx.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [84]:
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [85]:
iris_without_species['sepal_area'] = sepalx

iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_area
0           5.1          3.5           1.4          0.2       17.85
1           4.9          3.0           1.4          0.2       14.70
2           4.7          3.2           1.3          0.2       15.04
3           4.6          3.1           1.5          0.2       14.26
4           5.0          3.6           1.4          0.2       18.00

In [86]:
#petal area

petalarea = iris_without_species['petal_length'] * iris_without_species['petal_width']
                                 
petalarea.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [87]:
iris_without_species['petal_area']= petalarea

iris_without_species.head(50)

#only part of iris_without_species value of sepal_area is > 14

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
8,4.4,2.9,1.4,0.2,12.76,0.28
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
12,4.8,3.0,1.4,0.1,14.40,0.14
13,4.3,3.0,1.1,0.1,12.90,0.11
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
17,5.1,3.5,1.4,0.3,17.85,0.42
18,5.7,3.8,1.7,0.3,21.66,0.51
19,5.1,3.8,1.5,0.3,19.38,0.45
20,5.4,3.4,1.7,0.2,18.36,0.34
21,5.1,3.7,1.5,0.4,18.87,0.60
22,4.6,3.6,1.0,0.2,16.56,0.20
23,5.1,3.3,1.7,0.5,16.83,0.85
24,4.8,3.4,1.9,0.2,16.32,0.38
25,5.0,3.0,1.6,0.2,15.00,0.32
26,5.0,3.4,1.6,0.4,17.00,0.64
27,5.2,3.5,1.5,0.2,18.20,0.30
28,5.2,3.4,1.4,0.2,17.68,0.28
29,4.7,3.2,1.6,0.2,15.04,0.32
30,4.8,3.1,1.6,0.2,14.88,0.32
31,5.4,3.4,1.5,0.4,18.36,0.60
32,5.2,4.1,1.5,0.1,21.32,0.15
33,5.5,4.2,1.4,0.2,23.10,0.28
34,4.9,3.1,1.5,0.1,15.19,0.15
35,5.0,3.2,1.2,0.2,16.00,0.24
36,5.5,3.5,1.3,0.2,19.25,0.26
37,4.9,3.1,1.5,0.1,15.19,0.15
38,4.4,3.0,1.3,0.2,13.20,0.26
39,5.1,3.4,1.5,0.2,17.34,0.30
40,5.0,3.5,1.3,0.3,17.50,0.39
41,4.5,2.3,1.3,0.3,10.35,0.39
42,4.4,3.2,1.3,0.2,14.08,0.26
43,5.0,3.5,1.6,0.6,17.50,0.96
44,5.1,3.8,1.9,0.4,19.38,0.76
45,4.8,3.0,1.4,0.3,14.40,0.42
46,5.1,3.8,1.6,0.2,19.38,0.32
47,4.6,3.2,1.4,0.2,14.72,0.28
48,5.3,3.7,1.5,0.2,19.61,0.30
49,5.0,3.3,1.4,0.2,16.50,0.28

In [99]:
# filter out partd of dataframes using pandas

largeFlowers = iris_without_species[iris_without_species['sepal_area']>16]

largeFlowers.head(10)

#how many large flowers we have in iris dataset
#how many flowers have a sepal area of exactly 16

largeFlowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  101 non-null    float64
 1   sepal_width   101 non-null    float64
 2   petal_length  101 non-null    float64
 3   petal_width   101 non-null    float64
 4   sepal_area    101 non-null    float64
 5   petal_area    101 non-null    float64
dtypes: float64(6)
memory usage: 5.5 KB

In [105]:
largeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [100]:
largeFlowers16 = iris_without_species[iris_without_species['sepal_area'] == 16 ]

largeFlowers16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepal_area    1 non-null      float64
 5   petal_area    1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [101]:
largeFlowers = iris_without_species[iris_without_species['sepal_area']==16]


largeFlowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepal_area    1 non-null      float64
 5   petal_area    1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [102]:
largeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [92]:
# sorting values by something

sortedLargeFlowers = largeFlowers.sort_values(by='sepal_area', ascending=False)

sortedLargeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [103]:
largeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [104]:
largestFlower = sortedLargeFlowers.head(1)
largestFlower

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [95]:
areaoflargestflower = sortedLargeFlowers['sepal_area'].min()
areaoflargestflower

np.float64(16.0)

In [96]:
areaoflargestflower= largestFlower['sepal_area'].max()
arealargestflower

NameError: name 'arealargestflower' is not defined

In [ ]:

largeFlowers =sortedLargeFlower['sepal_area']
x = largeFlowers.head(1)
areaoflargestflower=x[131]

KeyError: 131

In [ ]:
type(x)

pandas.core.series.Series